body{
    color: black;
    background: turquoise;
    font-family: "Pacifico", cursive;
    margin: 0px;
    margin-bottom: 1000px;
}
.chamada{
    background: whitesmoke;
    margin-top : 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
header{
    color: red;
    font-size: 40px;
    border-bottom: solid 3px crimson;
    padding: 20px;

}
